.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
  .abtme {
    background-color: rgb(44, 62, 80, .50);
    border-color: #2C3E50;
    border-style: solid;
    border-width: 2px;

}
