.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
  .abtme {
    background-color: rgb(44, 62, 80, .50);
    border-color: #2C3E50;
    border-style: solid;
    border-width: 2px;

}

h1 {
    margin-left: 3%;
    margin-top: 2.5%;
}

hr {
    display: block;
    width: 95%;
    border-width: 3px;
    color: whitesmoke
}   

.bio {
    font-size: 20px; 
    margin-right: 6%;
    color: black;
}

.cntfrm {
    padding: 5px;
    margin-left: 5%;
    font-size: 24px;
    line-height: 30px;
    color: whitesmoke;

#logo {
    width: 250px;
    height: 90px;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 90px;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    background: #4aaaa5;
    
}